In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv("US_Accidents_March23.csv")

In [4]:
df.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [6]:
missing_percent = (df.isnull().sum() / len(df)) * 100
columns_to_drop = missing_percent[missing_percent > 50].index
columns_to_drop

Index([], dtype='object')

In [24]:
missing_percent[missing_percent > 50]

Series([], dtype: float64)

In [25]:
num_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())
print(num_cols)

Index(['Severity', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng',
       'Distance(mi)', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)',
       'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Hour'],
      dtype='object')

In [26]:
df[num_cols].isnull().sum()

Severity             0
Start_Lat            0
Start_Lng            0
End_Lat              0
End_Lng              0
Distance(mi)         0
Temperature(F)       0
Wind_Chill(F)        0
Humidity(%)          0
Pressure(in)         0
Visibility(mi)       0
Wind_Speed(mph)      0
Precipitation(in)    0
Hour                 0
dtype: int64

In [28]:
cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])
cat_cols

Index(['ID', 'Source', 'Description', 'Street', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Wind_Direction', 'Weather_Condition', 'Sunrise_Sunset',
       'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight',
       'Weekday', 'Month'],
      dtype='object')

In [29]:
df[cat_cols].isnull().sum()

ID                       0
Source                   0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Wind_Direction           0
Weather_Condition        0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
Weekday                  0
Month                    0
dtype: int64

In [30]:
df['Start_Time'] = pd.to_datetime(df['Start_Time'], errors='coerce')
df['End_Time'] = pd.to_datetime(df['End_Time'], errors='coerce')
df[['Start_Time', 'End_Time']].head()
df[['Start_Time', 'End_Time']].isnull().sum()

Start_Time    0
End_Time      0
dtype: int64

In [31]:
df["Hour"] = df["Start_Time"].dt.hour
df[["Start_Time", "Hour"]].head()

             Start_Time  Hour
328 2016-02-22 16:57:30    16
525 2016-03-08 05:31:02     5
533 2016-03-08 08:09:53     8
549 2016-03-09 06:42:51     6
552 2016-03-09 08:13:28     8

In [32]:
df["Weekday"] = df["Start_Time"].dt.day_name()
df[["Start_Time", "Weekday"]].head()

             Start_Time    Weekday
328 2016-02-22 16:57:30     Monday
525 2016-03-08 05:31:02    Tuesday
533 2016-03-08 08:09:53    Tuesday
549 2016-03-09 06:42:51  Wednesday
552 2016-03-09 08:13:28  Wednesday

In [33]:
df["Month"] = df["Start_Time"].dt.month_name()
df[["Start_Time", "Month"]].head()

             Start_Time     Month
328 2016-02-22 16:57:30  February
525 2016-03-08 05:31:02     March
533 2016-03-08 08:09:53     March
549 2016-03-09 06:42:51     March
552 2016-03-09 08:13:28     March

In [14]:
df_encoded = pd.get_dummies(df, columns=['Weather_Condition', 'State'], drop_first=True)

In [18]:
df_encoded.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,State_SD,State_TN,State_TX,State_UT,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,36.183495,-88.02789,0.01,...,False,False,False,False,False,False,False,False,False,False
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,36.183495,-88.02789,0.01,...,False,False,False,False,False,False,False,False,False,False
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,36.183495,-88.02789,0.01,...,False,False,False,False,False,False,False,False,False,False
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,36.183495,-88.02789,0.01,...,False,False,False,False,False,False,False,False,False,False
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,36.183495,-88.02789,0.01,...,False,False,False,False,False,False,False,False,False,False

In [19]:
df_encoded.shape

(7728394, 238)

In [15]:
df = df.drop_duplicates()

In [20]:
df_encoded.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       ...
       'State_SD', 'State_TN', 'State_TX', 'State_UT', 'State_VA', 'State_VT',
       'State_WA', 'State_WI', 'State_WV', 'State_WY'],
      dtype='object', length=238)

In [22]:

# Count rows before outlier removal
before = df.shape[0]

num_cols = df.select_dtypes(include=['int64', 'float64']).columns
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    low_limit = Q1 - 1.5 * IQR
    high_limit = Q3 + 1.5 * IQR
    df = df[(df[col] >= low_limit) & (df[col] <= high_limit)]
    # Count rows after outlier removal
after = df.shape[0]

print("Outliers removed:", before - after)
print("Rows remaining:", after)

Outliers removed: 271807
Rows remaining: 543909

In [17]:
df.info()
df.head()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 2406982 entries, 1 to 7728162
Data columns (total 49 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             datetime64[ns]
 4   End_Time               datetime64[ns]
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
 46  Hour                   float64
 47  Weekday                object
 48  Month                  object
dtypes: bool(13), datetime64[ns](2), float64(13), int64(1), object(20)
memory usage: 709.3+ MB

,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in),Hour
count,2406982.0,2406982,2406982,2.406982e+06,2.406982e+06,2.406982e+06,2.406982e+06,2.406982e+06,2.406982e+06,2.406982e+06,2.406982e+06,2.406982e+06,2406982.0,2.406982e+06,2406982.0,2.406982e+06
mean,2.0,2019-12-31 22:25:42.968582912,2020-01-01 05:22:50.779749888,3.558288e+01,-8.953068e+01,3.605904e+01,-8.644577e+01,1.052151e-01,6.529966e+01,6.241261e+01,6.185345e+01,2.977754e+01,10.0,7.173554e+00,0.0,1.235996e+01
min,2.0,2016-02-08 06:07:59,2016-02-08 06:37:59,2.455480e+01,-1.246238e+02,2.830199e+01,-1.153142e+02,0.000000e+00,8.400000e+00,2.500000e+01,1.000000e+00,2.848000e+01,10.0,0.000000e+00,0.0,0.000000e+00
25%,2.0,2018-05-23 07:39:05.500000,2018-05-23 08:25:37.500000,3.274602e+01,-9.661932e+01,3.618349e+01,-8.802789e+01,0.000000e+00,5.310000e+01,5.900000e+01,4.700000e+01,2.954000e+01,10.0,5.000000e+00,0.0,8.000000e+00
50%,2.0,2020-02-23 00:27:00,2020-02-23 08:41:31.500000,3.520491e+01,-8.333352e+01,3.618349e+01,-8.802789e+01,0.000000e+00,6.600000e+01,6.200000e+01,6.300000e+01,2.989000e+01,10.0,7.000000e+00,0.0,1.300000e+01
75%,2.0,2021-09-05 05:00:26.500000,2021-09-06 11:36:00.750000128,3.936605e+01,-7.927934e+01,3.618349e+01,-8.515320e+01,9.500000e-02,7.800000e+01,7.100000e+01,7.800000e+01,3.006000e+01,10.0,9.200000e+00,0.0,1.700000e+01
max,2.0,2023-03-31 23:12:55,2023-03-31 23:42:55,4.900220e+01,-6.784186e+01,4.387982e+01,-6.998470e+01,9.570000e-01,1.166000e+02,9.700000e+01,1.000000e+02,3.094000e+01,10.0,1.730000e+01,0.0,2.300000e+01
std,0.0,NaN,NaN,4.610890e+00,1.456609e+01,2.688843e+00,5.796349e+00,2.105658e-01,1.626438e+01,1.471059e+01,2.053673e+01,4.077834e-01,0.0,4.088133e+00,0.0,5.288912e+00